body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

.hero-container {
    text-align: center;
    padding: 50px 20px;
    background: url('../images/rafting1.jpg') no-repeat center center/cover;
    color: rgba(255, 255, 255, 0.267);
}

button {
    background: #0077b6;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background: #005f8f;
}

.why-choose-us, .testimonials, .trip-options, .faq, .safety-checklist, .insurance {
    background: #f7d3a1;
    padding: 15px;
    border-radius: 10px;
    margin: 15px auto;
    width: 80%;
}

.trip-options .trip {
    background: #9ba7c0;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.cta-button {
    background: #53b5a0;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
}
