@media screen and (min-width: 700px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 1100px) {
    #menu {
      display: none;
    }
  
    nav {
      width: auto;
      display: block;
    }
  
    section {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }